# Mistakes and Tricks for Python

## Colin's Mistakes

    #### Forgetting to place () at the end of methods

    ### Forgetting to enclose pandas columns in single quotes



## Python Tricks


## Regular expressions (Regex) in python


## Coding question Tips


## Todo List

## Coding Challenges and Questions

### SQL Questions

In [2]:
'''
Assume you're given two tables containing data about Facebook Pages and their respective likes (as in "Like a Facebook Page").

Write a query to return the IDs of the Facebook pages that have zero likes. The output should be sorted in ascending order based on the page IDs.
'''

SELECT page_id
FROM pages
EXCEPT
SELECT page_id
FROM page_likes

SyntaxError: invalid syntax (1466910681.py, line 7)

In [ ]:
'''
Assume you're given a table on Walmart user transactions. Based on their most recent transaction date, write a query that retrieve the users along with the number of products they bought.

Output the user's most recent transaction date, user ID, and the number of products, sorted in chronological order by the transaction date.

'''

WITH latest_transactions AS (
  SELECT 
    transaction_date, 
    user_id, 
    product_id, 
    RANK() OVER (
      PARTITION BY user_id ORDER BY transaction_date DESC) AS transaction_rank 
  FROM user_transactions) 
  
SELECT 
  transaction_date, 
  user_id,
  COUNT(product_id) AS purchase_count
FROM latest_transactions
WHERE transaction_rank = 1 
GROUP BY transaction_date, user_id
ORDER BY transaction_date

In [ ]:
'''
IBM is analyzing how their employees are utilizing the Db2 database by tracking the SQL queries executed by their employees. The objective is to generate data to populate a histogram that shows the number of unique queries run by employees during the third quarter of 2023 (July to September). Additionally, it should count the number of employees who did not run any queries during this period.

Display the number of unique queries as histogram categories, along with the count of employees who executed that number of unique queries.
'''

WITH employee_queries AS (
  SELECT 
    e.employee_id,
    COALESCE(COUNT(DISTINCT q.query_id), 0) AS unique_queries
  FROM employees AS e
  LEFT JOIN queries AS q
    ON e.employee_id = q.employee_id
      AND q.query_starttime >= '2023-07-01T00:00:00Z'
      AND q.query_starttime < '2023-10-01T00:00:00Z'
  GROUP BY e.employee_id
)

SELECT
  unique_queries,
  COUNT(employee_id) AS employee_count
FROM employee_queries
GROUP BY unique_queries
ORDER BY unique_queries;

SyntaxError: invalid syntax (3013744970.py, line 1)

In [ ]:
WITH latest_transactions_cte AS (
  SELECT 
    transaction_date, 
    user_id, 
    product_id, 
    RANK() OVER (
      PARTITION BY user_id 
      ORDER BY transaction_date DESC) AS transaction_rank 
  FROM user_transactions) 
  
SELECT 
  transaction_date, 
  user_id,
  COUNT(product_id) AS purchase_count
FROM latest_transactions_cte
WHERE transaction_rank = 1 
GROUP BY transaction_date, user_id
ORDER BY transaction_date;

In [ ]:
WITH yearly_spend_cte AS (
  SELECT 
    EXTRACT(YEAR FROM transaction_date) AS year,
    product_id,
    spend AS curr_year_spend,
    LAG(spend) OVER (
      PARTITION BY product_id 
      ORDER BY 
        product_id, 
        EXTRACT(YEAR FROM transaction_date)) AS prev_year_spend 
  FROM user_transactions
)

SELECT 
  year,
  product_id, 
  curr_year_spend, 
  prev_year_spend, 
  ROUND(100 * 
    (curr_year_spend - prev_year_spend)
    / prev_year_spend
  , 2) AS yoy_rate 
FROM yearly_spend_cte;

### Python Questions

In [4]:
'''
Given two n x n binary matrices mat and target, return true if it is possible to make mat equal to target by rotating mat in 90-degree increments, or false otherwise.
'''

def find_rotation(mat, target):
    
    def rotate(matrix):
        # Step 1: Transpose the matrix (swap rows with columns)
        for i in range(len(matrix)):
            for j in range(i, len(matrix)):
                matrix[i][j], matrix[j][i] = matrix[j][i], matrix[i][j]

        # Step 2: Reverse each row
        for i in range(len(matrix)):
            matrix[i] = matrix[i][::-1]
        
        return matrix

    to_rotate = mat
    for _ in range(4):
        rotated = rotate(to_rotate)
        if rotated == target:
            return True
        to__rotate = rotated
    
    return False

In [ ]:
'''
Write a function fizz_buzz_sum to find the sum of all multiples of 3 or 5 below a target value.

For example, if the target value was 10, the multiples of 3 or 5 below 10 are 3, 5, 6, and 9.

Because 3+5+6+9=233+5+6+9=23, our function would return 23.
'''
def fizz_buzz_sum(target):
  sum = 0
  for i in range(target):
    if (i % 3 == 0) or (i % 5 == 0):
      sum += i
  return sum

In [3]:
'''
Given an integer n, generate all simplified fractions between 0 and 1 (exclusive) where the denominator is less than or equal to n. A fraction is simplified if the numerator and denominator have no common divisors other than 1.

Return a sorted list of fractions, where each fraction is represented as [numerator, denominator].

For example:

    If n=3n=3, return [[1, 2], [1, 3], [2, 3]]
    If n=4n=4, return [[1, 2], [1, 3], [1, 4], [2, 3], [3, 4]]
    If n=5n=5, return [[1, 2], [1, 3], [1, 4], [1, 5], [2, 3], [2, 5], [3, 4], [3, 5], [4, 5]]
'''
import math

def generate_fractions(n):
    result = []  
	 # Numerators from 1 up to n
    for numerator in range(1, n): 
    	 # Denominators > numerator
        for denominator in range(numerator + 1, n + 1): 
            '''
            Only add if the fraction is already in 
            simplest form (GCD is 1)
            '''
            if math.gcd(numerator, denominator) == 1:
            	# Add to result
                result.append([numerator, denominator])  

    return result

In [ ]:

#Given two vectors, represented as lists X and Y, return the Pearson Correlation Coefficient.

import math

def mean(x):
	return sum(x)/len(x)
	
def sd(x):
  m = mean(x)
  ss = sum((i-m) ** 2 for i in x)
  return math.sqrt(ss / len(x))

def corr(x, y):
  x_m = mean(x)
  y_m = mean(y)
  xy_d = [] 
  for i in range(len(x)):
    x_d = x[i] - x_m
    y_d = y[i] - y_m
    xy_d.append(x_d * y_d) 
  return mean(xy_d) / (sd(x) * sd(y))

In [ ]:
'''
You're given an array nums of n integers and an integer k.

The k-radius average for a subarray of nums centered at some index i is the average of all elements from indices i - k to i + k (inclusive). If there arenâ€™t enough elements before or after index i to cover this radius, the k-radius average is -1.

Build and return an array averages of length n, where averages[i] contains the k-radius average for the subarray centered at index i.

Return your result rounded to 2 decimal places.
'''



def k_radius_avg(nums, k):
    # Initialize averages with -1
    averages = [-1] * len(nums)
    # Total elements in a k-radius subarray
    k_radius_size = 2 * k + 1

    # Construct prefix sum array
    prefix = [0] * (len(nums) + 1)  
    for i in range(len(nums)):
        prefix[i + 1] = prefix[i] + nums[i]

    # Calculate averages for all valid centers
    for j in range(k, len(nums) - k):
        left_index = j - k
        right_index = j + k + 1
        averages[j] = round((prefix[right_index] - prefix[left_index]) / k_radius_size, 2)

    return averages

In [ ]:
def convertToBase13(num):
    base13_digits = "0123456789ABC"
    
    def convertPositiveToBase13(positive_number):
        if positive_number < 13:
            return base13_digits[positive_number]  # Return single digit
        else:
            return convertPositiveToBase13(positive_number // 13) + base13_digits[positive_number % 13]
    
    if num < 0:
        return "-" + convertPositiveToBase13(abs(num))
    else:
        return convertPositiveToBase13(num)

In [ ]:
def factorial(n):
  if n == 0:
      return 1
  else:
      return n * factorial(n - 1)